---
---

<div class="atributions-container">
  <p>Atribuciones a imágenes utilizadas:</p>
  <ul class="atributions-list">
    <li><a href="https://www.magnific.com/es/foto-gratis/foto-fascinante-olas-oceano-azul-cristalino_17530073.htm#fromView=search&page=1&position=6&uuid=5b1d8109-b65d-4d87-8e1f-71cbb68f3499&query=ola+mar">Ola</a></li>
    <li><a href="https://www.magnific.com/es/vector-gratis/plantilla-etiqueta-mapa-tesoro-pirata-aislado_18218775.htm#fromView=search&page=1&position=5&uuid=f25bf8f6-5811-46ac-bdcf-f72b9f269f2a&query=mapa+animado">Imagen de brgfx en Magnific</a></li>
    <li><a href="https://www.magnific.com/es/vector-gratis/cartel-plano-playa-mar-tropical-imprimir_2873627.htm#fromView=search&page=1&position=8&uuid=6a50748e-3f95-44b0-8536-6187639070c2&query=fondos+playa+tropical">Playa tropical fondo</a></li>
  </ul>
</div>

<style>
  .atributions-container {
    font-size: 0.8rem;
    margin-left: 20px;
  }

  .atributions-list li a {
    text-decoration: none;
    color: black;
  }
</style>