---
import Atributions from "./Atributions.astro"
---

<footer>
  <div class="content-info">
    <div class="info">
      <p>
        <em>Pasea por Los Tuxtlas</em> es un proyecto sin fines de lucro.
        Su único objetivo es dar a conocer la región de Los Tuxtlas a las
        personas que deseen visitarla.
      </p>
    </div>
    <div class="info">
      <p>
        Si deseas que algún lugar aparezca en la página manda un correo a <strong
          >paseaporlostuxtlas@correo.com</strong>
      </p>
    </div>
  </div>
  <Atributions />
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 0 0 black;
    background-color: rgba(5, 140, 95, 0.466);
  }

  .footer-header {
    width: 100%;
    height: 50px;
  }

  .content-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
  }

  .info {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 4px 8px;
    height: fit-content;
  }

  .info > p {
    font-size: 0.9rem;
    margin: 10px;
  }
</style>
