---
import { Image } from "astro:assets";
import logo from "../assets/conejo-simbolo.webp";
const titleSite = "Pasea por Los Tuxtlas";
---
<style>
  .logo-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
  }

  .title-logo {
    font-size: 20px;
    margin-left: 8px;
  }
</style>

<a class="logo-data" href="/">
  <Image src={logo} alt="Logo pagina" width={50} height={50} />
  <h1 class="title-logo"><i>{titleSite}</i></h1>
</a>
