---
import { Image } from "astro:assets";
import logo from "../assets/conejo-simbolo.webp";
const titleSite = "Pasea por Los Tuxtlas";
---
<style>
  .logo-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 254);
    text-shadow: 1px 1px 1px black;
  }

  .title-logo {
    font-size: 1.5rem;
    margin-left: 8px;
  }
</style>

<a class="logo-data" href="/">
  <Image src={logo} alt="Logo pagina" width={50} height={50} />
  <span class="title-logo"><strong><i>{titleSite}</i></strong></span>
</a>
