---
import { Image } from "astro:assets";
import logo from "../icons/conejo-simbolo.webp";
const titleSite = "Pasea por Los Tuxtlas";
---
<style>
  .logo-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .title-logo {
    font-size: 20px;
    margin-left: 8px;
  }
</style>

<div class="logo-data">
  <Image src={logo} alt="Logo pagina" width={50} height={50} />
  <h1 class="title-logo"><i>{titleSite}</i></h1>
</div>
