---
import { Image } from "astro:assets";
const { pageRef, name, hero } = Astro.props;
---

<div class="place-item-container">
  <Image class="place-item-image" src={hero} alt={`Imagen de ${name}`} />
  <p class="place-item-name">
    <a href={pageRef}>{name}</a>
  </p>
</div>

<style>
  .place-item-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  .place-item-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
  }

  .place-item-name {
    font-size: 1.2rem;
    color: black;
  }

  a {
    text-decoration: none;
    color: black;
  }
</style>