---
import { Image } from "astro:assets";
const { pageRef, name, hero } = Astro.props;
---

<a class="place-item-container" href={pageRef}>
  <Image class="place-item-image" src={hero} alt={`Imagen de ${name}`} />
  <div class="div-name">
    <p class="place-item-name">{name}</p>
  </div>
</a>

<style>
  .place-item-container {
    position: relative;
    min-width: 100%;
    height: 250px;
    box-shadow: 0 2px 2px 0 black;
  }

  .place-item-image {
    width: 100%;
    height: 250px;
  }

  .div-name {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
  }

  .place-item-name {
    font-size: 1.2rem;
    color: white;
    margin-left: 30px;
  }

  a {
    text-decoration: none;
    color: black;
  }
</style>